agentops==0.1.11 ; python_version >= "3.12" and python_version < "3.13"
aiofiles==23.2.1 ; python_version >= "3.12" and python_version < "3.13"
aiohttp==3.9.5 ; python_version >= "3.12" and python_version < "3.13"
aioshutil==1.3 ; python_version >= "3.12" and python_version < "3.13"
aiosignal==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
alembic==1.13.1 ; python_version >= "3.12" and python_version < "3.13"
amqp==5.2.0 ; python_version >= "3.12" and python_version < "3.13"
annotated-types==0.6.0 ; python_version >= "3.12" and python_version < "3.13"
anthropic==0.25.9 ; python_version >= "3.12" and python_version < "3.13"
anyio==4.3.0 ; python_version >= "3.12" and python_version < "3.13"
apify-client==1.6.4 ; python_version >= "3.12" and python_version < "3.13"
apify-shared==1.1.1 ; python_version >= "3.12" and python_version < "3.13"
apify[scrapy]==1.7.0 ; python_version >= "3.12" and python_version < "3.13"
appdirs==1.4.4 ; python_version >= "3.12" and python_version < "3.13"
asgiref==3.8.1 ; python_version >= "3.12" and python_version < "3.13"
attrs==23.2.0 ; python_version >= "3.12" and python_version < "3.13"
automat==22.10.0 ; python_version >= "3.12" and python_version < "3.13"
backoff==2.2.1 ; python_version >= "3.12" and python_version < "3.13"
bcrypt==4.1.3 ; python_version >= "3.12" and python_version < "3.13"
beautifulsoup4==4.12.3 ; python_version >= "3.12" and python_version < "3.13"
billiard==4.2.0 ; python_version >= "3.12" and python_version < "3.13"
boto3-stubs[essential]==1.34.108 ; python_version >= "3.12" and python_version < "3.13"
boto3==1.34.108 ; python_version >= "3.12" and python_version < "3.13"
botocore-stubs==1.34.94 ; python_version >= "3.12" and python_version < "3.13"
botocore==1.34.108 ; python_version >= "3.12" and python_version < "3.13"
bs4==0.0.2 ; python_version >= "3.12" and python_version < "3.13"
build==1.2.1 ; python_version >= "3.12" and python_version < "3.13"
cachetools==5.3.3 ; python_version >= "3.12" and python_version < "3.13"
celery==5.4.0 ; python_version >= "3.12" and python_version < "3.13"
certifi==2024.2.2 ; python_version >= "3.12" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "3.13"
chroma-hnswlib==0.7.3 ; python_version >= "3.12" and python_version < "3.13"
chromadb==0.5.0 ; python_version >= "3.12" and python_version < "3.13"
click-didyoumean==0.3.1 ; python_version >= "3.12" and python_version < "3.13"
click-plugins==1.1.1 ; python_version >= "3.12" and python_version < "3.13"
click-repl==0.3.0 ; python_version >= "3.12" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.12" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.13"
coloredlogs==15.0.1 ; python_version >= "3.12" and python_version < "3.13"
conductor @ git+https://github.com/csmizzle/conductor.git@ff78c3b45557329a31944d44779780e7b21187ca ; python_version >= "3.12" and python_version < "3.13"
constantly==23.10.4 ; python_version >= "3.12" and python_version < "3.13"
crewai==0.28.8 ; python_version >= "3.12" and python_version < "3.13"
crochet==2.1.1 ; python_version >= "3.12" and python_version < "3.13"
cryptography==42.0.7 ; python_version >= "3.12" and python_version < "3.13"
cssselect==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
dataclasses-json==0.6.6 ; python_version >= "3.12" and python_version < "3.13"
defusedxml==0.7.1 ; python_version >= "3.12" and python_version < "3.13"
deprecated==1.2.14 ; python_version >= "3.12" and python_version < "3.13"
discord-py==2.3.2 ; python_version >= "3.12" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.12" and python_version < "3.13"
django-redis==5.4.0 ; python_version >= "3.12" and python_version < "3.13"
django==5.0.6 ; python_version >= "3.12" and python_version < "3.13"
djangorestframework==3.15.1 ; python_version >= "3.12" and python_version < "3.13"
docstring-parser==0.15 ; python_version >= "3.12" and python_version < "3.13"
drf-yasg==1.21.7 ; python_version >= "3.12" and python_version < "3.13"
embedchain==0.1.103 ; python_version >= "3.12" and python_version < "3.13"
executing==2.0.1 ; python_version >= "3.12" and python_version < "3.13"
fastapi==0.110.3 ; python_version >= "3.12" and python_version < "3.13"
filelock==3.14.0 ; python_version >= "3.12" and python_version < "3.13"
fire==0.6.0 ; python_version >= "3.12" and python_version < "3.13"
fireworks-ai==0.14.0 ; python_version >= "3.12" and python_version < "3.13"
flatbuffers==24.3.25 ; python_version >= "3.12" and python_version < "3.13"
frozenlist==1.4.1 ; python_version >= "3.12" and python_version < "3.13"
fsspec==2024.5.0 ; python_version >= "3.12" and python_version < "3.13"
google-api-core==2.19.0 ; python_version >= "3.12" and python_version < "3.13"
google-api-core[grpc]==2.19.0 ; python_version >= "3.12" and python_version < "3.13"
google-api-python-client==2.129.0 ; python_version >= "3.12" and python_version < "3.13"
google-auth-httplib2==0.2.0 ; python_version >= "3.12" and python_version < "3.13"
google-auth-oauthlib==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
google-auth==2.29.0 ; python_version >= "3.12" and python_version < "3.13"
google-cloud-aiplatform==1.51.0 ; python_version >= "3.12" and python_version < "3.13"
google-cloud-bigquery==3.23.0 ; python_version >= "3.12" and python_version < "3.13"
google-cloud-core==2.4.1 ; python_version >= "3.12" and python_version < "3.13"
google-cloud-resource-manager==1.12.3 ; python_version >= "3.12" and python_version < "3.13"
google-cloud-storage==2.16.0 ; python_version >= "3.12" and python_version < "3.13"
google-crc32c==1.5.0 ; python_version >= "3.12" and python_version < "3.13"
google-resumable-media==2.7.0 ; python_version >= "3.12" and python_version < "3.13"
googleapis-common-protos==1.63.0 ; python_version >= "3.12" and python_version < "3.13"
googleapis-common-protos[grpc]==1.63.0 ; python_version >= "3.12" and python_version < "3.13"
gptcache==0.1.43 ; python_version >= "3.12" and python_version < "3.13"
greenlet==3.0.3 ; python_version >= "3.12" and python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpc-google-iam-v1==0.13.0 ; python_version >= "3.12" and python_version < "3.13"
grpcio-status==1.62.2 ; python_version >= "3.12" and python_version < "3.13"
grpcio==1.63.0 ; python_version >= "3.12" and python_version < "3.13"
gunicorn==22.0.0 ; python_version >= "3.12" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.12" and python_version < "3.13"
httpcore==1.0.5 ; python_version >= "3.12" and python_version < "3.13"
httplib2==0.22.0 ; python_version >= "3.12" and python_version < "3.13"
httptools==0.6.1 ; python_version >= "3.12" and python_version < "3.13"
httpx-sse==0.4.0 ; python_version >= "3.12" and python_version < "3.13"
httpx==0.27.0 ; python_version >= "3.12" and python_version < "3.13"
huggingface-hub==0.23.0 ; python_version >= "3.12" and python_version < "3.13"
humanfriendly==10.0 ; python_version >= "3.12" and python_version < "3.13"
hyperlink==21.0.0 ; python_version >= "3.12" and python_version < "3.13"
idna==3.7 ; python_version >= "3.12" and python_version < "3.13"
importlib-metadata==7.0.0 ; python_version >= "3.12" and python_version < "3.13"
importlib-resources==6.4.0 ; python_version >= "3.12" and python_version < "3.13"
incremental==22.10.0 ; python_version >= "3.12" and python_version < "3.13"
inflection==0.5.1 ; python_version >= "3.12" and python_version < "3.13"
iniconfig==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
instructor==0.5.2 ; python_version >= "3.12" and python_version < "3.13"
itemadapter==0.9.0 ; python_version >= "3.12" and python_version < "3.13"
itemloaders==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.12" and python_version < "3.13"
jsonpatch==1.33 ; python_version >= "3.12" and python_version < "3.13"
jsonpointer==2.4 ; python_version >= "3.12" and python_version < "3.13"
kombu==5.3.7 ; python_version >= "3.12" and python_version < "3.13"
kubernetes==29.0.0 ; python_version >= "3.12" and python_version < "3.13"
langchain-community==0.0.31 ; python_version >= "3.12" and python_version < "3.13"
langchain-core==0.1.52 ; python_version >= "3.12" and python_version < "3.13"
langchain-fireworks==0.1.3 ; python_version >= "3.12" and python_version < "3.13"
langchain-openai==0.0.5 ; python_version >= "3.12" and python_version < "3.13"
langchain-pinecone==0.1.1 ; python_version >= "3.12" and python_version < "3.13"
langchain-text-splitters==0.0.2 ; python_version >= "3.12" and python_version < "3.13"
langchain==0.1.14 ; python_version >= "3.12" and python_version < "3.13"
langchainhub==0.1.15 ; python_version >= "3.12" and python_version < "3.13"
langgraph==0.0.31 ; python_version >= "3.12" and python_version < "3.13"
langsmith==0.1.59 ; python_version >= "3.12" and python_version < "3.13"
logfire[celery,django]==0.33.0 ; python_version >= "3.12" and python_version < "3.13"
lxml==5.2.2 ; python_version >= "3.12" and python_version < "3.13"
mako==1.3.5 ; python_version >= "3.12" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
markupsafe==2.1.5 ; python_version >= "3.12" and python_version < "3.13"
marshmallow==3.21.2 ; python_version >= "3.12" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.13"
mmh3==4.1.0 ; python_version >= "3.12" and python_version < "3.13"
monotonic==1.6 ; python_version >= "3.12" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.12" and python_version < "3.13"
multidict==6.0.5 ; python_version >= "3.12" and python_version < "3.13"
mypy-boto3-cloudformation==1.34.84 ; python_version >= "3.12" and python_version < "3.13"
mypy-boto3-dynamodb==1.34.97 ; python_version >= "3.12" and python_version < "3.13"
mypy-boto3-ec2==1.34.101 ; python_version >= "3.12" and python_version < "3.13"
mypy-boto3-lambda==1.34.77 ; python_version >= "3.12" and python_version < "3.13"
mypy-boto3-rds==1.34.93 ; python_version >= "3.12" and python_version < "3.13"
mypy-boto3-s3==1.34.105 ; python_version >= "3.12" and python_version < "3.13"
mypy-boto3-sqs==1.34.101 ; python_version >= "3.12" and python_version < "3.13"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_version >= "3.12" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "3.13"
oauthlib==3.2.2 ; python_version >= "3.12" and python_version < "3.13"
onnxruntime==1.18.0 ; python_version >= "3.12" and python_version < "3.13"
openai==1.30.1 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-api==1.24.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-common==1.24.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-grpc==1.24.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-exporter-otlp-proto-http==1.24.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-instrumentation-asgi==0.45b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-instrumentation-celery==0.45b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-instrumentation-django==0.45b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-instrumentation-fastapi==0.45b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-instrumentation-wsgi==0.45b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-instrumentation==0.45b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-proto==1.24.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-sdk==1.24.0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-semantic-conventions==0.45b0 ; python_version >= "3.12" and python_version < "3.13"
opentelemetry-util-http==0.45b0 ; python_version >= "3.12" and python_version < "3.13"
orjson==3.10.3 ; python_version >= "3.12" and python_version < "3.13"
overrides==7.7.0 ; python_version >= "3.12" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.12" and python_version < "3.13"
parsel==1.9.1 ; python_version >= "3.12" and python_version < "3.13"
pillow==10.3.0 ; python_version >= "3.12" and python_version < "3.13"
pinecone-client==3.2.2 ; python_version >= "3.12" and python_version < "3.13"
pluggy==1.5.0 ; python_version >= "3.12" and python_version < "3.13"
posthog==3.5.0 ; python_version >= "3.12" and python_version < "3.13"
prompt-toolkit==3.0.43 ; python_version >= "3.12" and python_version < "3.13"
protego==0.3.1 ; python_version >= "3.12" and python_version < "3.13"
proto-plus==1.23.0 ; python_version >= "3.12" and python_version < "3.13"
protobuf==4.25.3 ; python_version >= "3.12" and python_version < "3.13"
psutil==5.9.8 ; python_version >= "3.12" and python_version < "3.13"
psycopg2-binary==2.9.9 ; python_version >= "3.12" and python_version < "3.13"
pyasn1-modules==0.4.0 ; python_version >= "3.12" and python_version < "3.13"
pyasn1==0.6.0 ; python_version >= "3.12" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
pydantic-core==2.18.2 ; python_version >= "3.12" and python_version < "3.13"
pydantic==2.7.1 ; python_version >= "3.12" and python_version < "3.13"
pydispatcher==2.0.7 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation == "CPython"
pyee==11.1.0 ; python_version >= "3.12" and python_version < "3.13"
pygments==2.18.0 ; python_version >= "3.12" and python_version < "3.13"
pyopenssl==24.1.0 ; python_version >= "3.12" and python_version < "3.13"
pyparsing==3.1.2 ; python_version >= "3.12" and python_version < "3.13"
pypdf==4.2.0 ; python_version >= "3.12" and python_version < "3.13"
pypika==0.48.9 ; python_version >= "3.12" and python_version < "3.13"
pyproject-hooks==1.1.0 ; python_version >= "3.12" and python_version < "3.13"
pypydispatcher==2.1.2 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation == "PyPy"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.12" and python_version < "3.13"
pysbd==0.3.4 ; python_version >= "3.12" and python_version < "3.13"
pytest==8.2.1 ; python_version >= "3.12" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.13"
python-dotenv==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
pytz==2024.1 ; python_version >= "3.12" and python_version < "3.13"
pyyaml==6.0.1 ; python_version >= "3.12" and python_version < "3.13"
queuelib==1.7.0 ; python_version >= "3.12" and python_version < "3.13"
redis==5.0.4 ; python_version >= "3.12" and python_version < "3.13"
regex==2023.12.25 ; python_version >= "3.12" and python_version < "3.13"
requests-file==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.12" and python_version < "3.13"
rich==13.7.1 ; python_version >= "3.12" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.12" and python_version < "3.13"
s3transfer==0.10.1 ; python_version >= "3.12" and python_version < "3.13"
schema==0.7.7 ; python_version >= "3.12" and python_version < "3.13"
scrapy==2.11.2 ; python_version >= "3.12" and python_version < "3.13"
service-identity==24.1.0 ; python_version >= "3.12" and python_version < "3.13"
setuptools==69.5.1 ; python_version >= "3.12" and python_version < "3.13"
shapely==2.0.4 ; python_version >= "3.12" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
sortedcollections==2.1.0 ; python_version >= "3.12" and python_version < "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.12" and python_version < "3.13"
soupsieve==2.5 ; python_version >= "3.12" and python_version < "3.13"
sqlalchemy==2.0.30 ; python_version >= "3.12" and python_version < "3.13"
sqlparse==0.5.0 ; python_version >= "3.12" and python_version < "3.13"
starlette==0.37.2 ; python_version >= "3.12" and python_version < "3.13"
sympy==1.12 ; python_version >= "3.12" and python_version < "3.13"
tenacity==8.3.0 ; python_version >= "3.12" and python_version < "3.13"
termcolor==2.4.0 ; python_version >= "3.12" and python_version < "3.13"
tiktoken==0.5.2 ; python_version >= "3.12" and python_version < "3.13"
tldextract==5.1.2 ; python_version >= "3.12" and python_version < "3.13"
tokenizers==0.19.1 ; python_version >= "3.12" and python_version < "3.13"
tqdm==4.66.4 ; python_version >= "3.12" and python_version < "3.13"
twisted-iocpsupport==1.0.4 ; python_version >= "3.12" and python_version < "3.13" and platform_system == "Windows"
twisted==24.3.0 ; python_version >= "3.12" and python_version < "3.13"
typer==0.9.4 ; python_version >= "3.12" and python_version < "3.13"
types-awscrt==0.20.9 ; python_version >= "3.12" and python_version < "3.13"
types-requests==2.31.0.20240406 ; python_version >= "3.12" and python_version < "3.13"
types-s3transfer==0.10.1 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.11.0 ; python_version >= "3.12" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "3.13"
uritemplate==4.1.1 ; python_version >= "3.12" and python_version < "3.13"
urllib3==2.2.1 ; python_version >= "3.12" and python_version < "3.13"
uvicorn[standard]==0.29.0 ; python_version >= "3.12" and python_version < "3.13"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.12" and python_version < "3.13"
vine==5.1.0 ; python_version >= "3.12" and python_version < "3.13"
w3lib==2.1.2 ; python_version >= "3.12" and python_version < "3.13"
watchfiles==0.21.0 ; python_version >= "3.12" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.12" and python_version < "3.13"
websocket-client==1.8.0 ; python_version >= "3.12" and python_version < "3.13"
websockets==12.0 ; python_version >= "3.12" and python_version < "3.13"
whitenoise==6.6.0 ; python_version >= "3.12" and python_version < "3.13"
wrapt==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
yarl==1.9.4 ; python_version >= "3.12" and python_version < "3.13"
zipp==3.18.2 ; python_version >= "3.12" and python_version < "3.13"
zope-interface==6.4 ; python_version >= "3.12" and python_version < "3.13"
